<div>
  <ul class="flex justify-center">
    <li class="mr-5 list-none hover:underline"><a href="https://www.linkedin.com/in/sergio-bastos-jr/">Linkedin</a></li>
    <li class="mr-5 list-none"><span>•</span></li>
    <li class="mr-5 list-none hover:underline"><a href="https://github.com/sergiofisio">Github</a></li>
    <li class="mr-5 list-none"><span>•</span></li>
    <li class="mr-5 list-none hover:underline"><a href="https://portifolio-roan-seven.vercel.app/">Portifólio</a></li>
  </ul>
</div>
