@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color: #111111;
  color:white;
  font-family: 'Segoe UI';
  text-decoration: none;
}

app-root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vw;
}
